################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/lab6/.vs/lab6/v16/Server/sqlite3
