
@{
    ViewData["Title"] = "Cipher";
}

<h1>Cipher</h1>
<form asp-action="SendKeys">
    <p>Ingresar clave a: </p>
    <input type="password" name="a"/>
    <p>Ingresar clave b: </p>
    <input type="password" name="b"/>
    <input type="submit" value="Enviar" />
</form>

